/*styling 3 hours - 24/03/2022*/
/*styling 4 hours - 04/04/2022*/
/*styling 6 hours - 05/04/2022*/
/*styling 6,5 hours - 06/04/2022*/
/*optimization 1.5 hours - 09/04/2022*/

@import 'vars';
@import 'mixins';
@import 'animations';
@import 'reset';

/*fonts*/
@font-face {
  font-family: 'Whyte'; /*Degular Text*/
  src: url('../fonts/Whyte-Regular.woff2') format('woff2'),
  url('../fonts/Whyte-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte100'; /*Degular Display*/
  src: url('../fonts/Whyte-Thin.woff2') format('woff2'),
  url('../fonts/Whyte-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cheltenham'; /*Moret*/
  src: url('../fonts/Cheltenham_Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font: 16px/1.2 'Whyte';
  color: $main-color;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.is-hidden {
  display: none;
}

.section {
  width: calc(100% - 60px);
  max-width: 1440px;
  margin: 0 auto;

  &__main {
    position: relative;
  }

  &__collection {
    display: flex;
    padding: 30px 0 80px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding: 80px 0 20px;
  }
}

@import 'notification';
@import 'header';
@import 'navigation';
@import 'submenu';
@import 'main-content';
@import 'collection-info';
@import 'collection-slider';
@import 'footer';
@import 'social-links';

/*mobile*/
@import 'media-1180';
@import 'media-880';
@import 'media-440';
